<div class="container">
      <div class="row">
          <div class="col-md-4"><div class="thumbnail "><div class="box">Namrata</div></div></div>
          <div class="col-md-4"><div class="thumbnail "><div class="box">Namrata</div></div></div>
          <div class="col-md-4"><div class="thumbnail "><div class="box">Namrata</div></div></div>
          <div class="col-md-4"><div class="thumbnail "><div class="box">Namrata</div></div></div>
          <div class="col-md-4"><div class="thumbnail "><div class="box">Namrata</div></div></div>
          <div class="col-md-4"><div class="thumbnail "><div class="box">Namrata</div></div></div>
     </div>
</div>